.top span,
.bottom span {
	display: inline-block;
	padding: 0.5rem;
	background: white;
	color: dimgray;
	min-width: 106px;
	text-align: center;
}
.bottom {
	z-index: 1000;
	position: fixed;
	display: flex;
	gap: 10px;
	bottom: 20px;
	box-sizing: border-box;
	align-content: baseline;
	justify-content: start;
	left: 260px;
	width: 100%;
}
.top {
	/* z-index: 1000; */
	/* position: fixed; */
	display: flex;
	gap: 10px;
	/* top: 10px; */
	box-sizing: border-box;
	/* align-content: baseline; */
	justify-content: start;
	/* left: 60px; */
	/* width: calc(100% - 260px); */
	/* background: red; */
}
