html,
body {
	height: 100%;
	margin: 0;
}
.top {
	display: flex;
	gap: 10px;
	box-sizing: border-box;
	justify-content: start;
}
.top * {
	display: inline-block;
	margin: 0;
	padding: 0.5rem;
	background: white;
	color: black;
	cursor: pointer;
	border: none;
	outline: none;
	text-decoration: none;
}
.top *:hover {
	filter: brightness(0.8);
}
a:link,
a:visited {
	color: black;
}
.img_person {
	border: solid medium white;
	border-radius: 50%;
	margin: 10px;
	object-fit: cover;
	box-sizing: border-box;
}

.custom-div-icon {
	border: none;
	background: transparent;
}
.mylabel {
	background-color: transparent;
	border: transparent;
	box-shadow: none;
}
