<header>
  <nav class="header-nav">
    <a class="header-title" href="/">coding</a>
    <ul>
      <li><a href="/code">Code</a></li>
      <li><a href="/code/new">Add Snippet</a></li>
      <li><a href="/books">Books</a></li>
      <li><a href="/books/new">Add Book</a></li>
    </ul>
  </nav>
</header>